[*]
indent_size = 2
charset = utf-8-bom
indent_style = space
tab_width = 2
insert_final_newline = true
end_of_line = crlf
trim_trailing_whitespace = true
root = true

[.cs]
indent_size = 4

[.fs]
indent_size = 4
